<style>
.mat-mdc-card {
  background: white;
}
</style>

<div class="content" role="main">

  <mat-card color="accent">
    <mat-card-content><button mat-raised-button color="primary" (click)="clickHandler()">Send Command</button></mat-card-content>
  </mat-card>

  <ng-template cdk-portal>
    <div style="display: inline-block; width: 80%; text-align: center; font-size: 32px"><%= tool_name_display %></div>
    <button mat-raised-button [matMenuTriggerFor]="menu" style="background-color: rgb(33, 150, 243)">File</button>
    <mat-menu #menu="matMenu" class="myMenu" style="background-color: white">
      <button mat-menu-item (click)="clickHandler()" style="background-color: rgb(33, 150, 243)">Send Command</button>
    </mat-menu>
  </ng-template>
</div>

<router-outlet></router-outlet>
