[run]
omit =
    # omit anything in the test directory
    test/*
    # omit everything in site-packages (python source)
    */site-packages/*
    # omit temp files
    /tmp/*
    /private/*
    # omit temporary test conversion files
    openc3/test_convert.py
    openc3/test_real_conversion.py