# Copyright 2026 OpenC3, Inc.
# All Rights Reserved.
#
# This program is free software; you can modify and/or redistribute it
# under the terms of the GNU Affero General Public License
# as published by the Free Software Foundation; version 3 with
# attribution addendums as found in the LICENSE.txt
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.

# This file may also be used under the terms of a commercial license
# if purchased from OpenC3, Inc.

name: Build UBI

# Only run on a push to main to avoid running for all the dependabot PRs
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

permissions:
  contents: read

jobs:
  openc3-build-ubi:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: login to ironbank
        # This `shell` line is required to get around a known issue: https://github.com/actions/runner/issues/241#issuecomment-745902718
        shell: 'script -q -e -c "bash {0}"'
        env:
          # Create ENV variable for the IronBank registry CLI token, which is stored as a secret in GitHub
          # This is done to avoid expanding secrets directly in a run block
          # where they may be exposed in process lists, shell history, or files.
          IRONBANK_REGISTRY_CLI: ${{ secrets.IRONBANK_REGISTRY_CLI }}
        run: echo "$IRONBANK_REGISTRY_CLI" | docker login registry1.dso.mil -u jmthomas --password-stdin
      - name: openc3.sh build-ubi
        # This `shell` line is required to get around a known issue: https://github.com/actions/runner/issues/241#issuecomment-745902718
        shell: 'script -q -e -c "bash {0}"'
        run: ./openc3.sh build-ubi
      - name: openc3.sh run-ubi
        shell: 'script -q -e -c "bash {0}"'
        run: ./openc3.sh run-ubi
        # Allow the containers to spin up
      - name: Sleep for 3min
        run: sleep 180s
        shell: bash
        # Check container status
      - name: Check container status
        shell: bash
        run: |
          docker ps
          docker logs cosmos-openc3-cosmos-init-1
          docker logs cosmos-openc3-operator-1
          docker ps | grep -Fv -e Restarting
