# Copyright 2026 OpenC3, Inc.
# All Rights Reserved.
#
# This program is free software; you can modify and/or redistribute it
# under the terms of the GNU Affero General Public License
# as published by the Free Software Foundation; version 3 with
# attribution addendums as found in the LICENSE.txt
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.

# This file may also be used under the terms of a commercial license
# if purchased from OpenC3, Inc.

name: ClamAV Scan

# Only run on a push to main to avoid running for all the dependabot PRs
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

jobs:
  openc3-clamav-scan:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby 3.4
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
          bundler-cache: false # runs 'bundle install' and caches installed gems automatically
          working-directory: openc3
      - name: openc3.sh build
        # This `shell` line is required to get around a known issue: https://github.com/actions/runner/issues/241#issuecomment-745902718
        shell: 'script -q -e -c "bash {0}"'
        run: ./openc3.sh build
        env:
          OPENC3_TAG: ${{ github.sha }}
      - name: ClamAV setup and update definitions
        # This `shell` line is required to get around a known issue: https://github.com/actions/runner/issues/241#issuecomment-745902718
        shell: 'script -q -e -c "bash {0}"'
        run: ./scripts/release/clamav_setup.sh
      - name: ClamAV scan image ruby
        run: ruby clamav_scan_image.rb docker.io/openc3inc/openc3-ruby:${{ github.sha }}
        working-directory: scripts/release
      - name: ClamAV scan image node
        run: ruby clamav_scan_image.rb docker.io/openc3inc/openc3-node:${{ github.sha }}
        working-directory: scripts/release
      - name: ClamAV scan image base
        run: ruby clamav_scan_image.rb docker.io/openc3inc/openc3-base:${{ github.sha }}
        working-directory: scripts/release
      - name: ClamAV scan image init
        run: ruby clamav_scan_image.rb docker.io/openc3inc/openc3-cosmos-init:${{ github.sha }}
        working-directory: scripts/release
      - name: ClamAV scan image redis
        run: ruby clamav_scan_image.rb docker.io/openc3inc/openc3-redis:${{ github.sha }}
        working-directory: scripts/release
      - name: ClamAV scan image bucket
        run: ruby clamav_scan_image.rb docker.io/openc3inc/openc3-buckets:${{ github.sha }}
        working-directory: scripts/release
      - name: ClamAV scan image tsdb
        run: ruby clamav_scan_image.rb docker.io/openc3inc/openc3-tsdb:${{ github.sha }}
        working-directory: scripts/release
      - name: ClamAV scan image operator
        run: ruby clamav_scan_image.rb docker.io/openc3inc/openc3-operator:${{ github.sha }}
        working-directory: scripts/release
      - name: ClamAV scan image cmd-tlm-api
        run: ruby clamav_scan_image.rb docker.io/openc3inc/openc3-cosmos-cmd-tlm-api:${{ github.sha }}
        working-directory: scripts/release
      - name: ClamAV scan image script-runner-api
        run: ruby clamav_scan_image.rb docker.io/openc3inc/openc3-cosmos-script-runner-api:${{ github.sha }}
        working-directory: scripts/release
      - name: ClamAV scan image traefik
        run: ruby clamav_scan_image.rb docker.io/openc3inc/openc3-traefik:${{ github.sha }}
        working-directory: scripts/release
