name: Auto Build Docs

on:
  push:
    paths:
      - "docs.openc3.com/**"
    branches:
      - main

jobs:
  build-and-commit:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    # 'environment: Release' is required to access the secrets.QA_PAT
    # See https://github.com/OpenC3/cosmos/settings/secrets/actions
    environment: Release
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.QA_PAT }}

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: "https://registry.npmjs.org"

      - name: Build docs
        run: ./build.sh
        working-directory: docs.openc3.com

      - uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: Automated Doc Build Change
