# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: COSMOS Core Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version string"
        required: true
        type: string
      next_version:
        description: "Next version string"
        required: true
        type: string
      update_latest:
        description: "Update latest tag"
        required: true
        type: boolean
        default: true

jobs:
  release:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    environment: Release
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.QA_PAT }}
      - name: Set up Ruby 3.3
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3
          bundler-cache: false # runs 'bundle install' and caches installed gems automatically
          working-directory: openc3
      - uses: actions/setup-node@v5
        with:
          node-version: 22
          registry-url: "https://registry.npmjs.org"
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install dependencies
        working-directory: openc3/python
        run: |
          python -m pip install --upgrade pip
          pip install build
      - name: login to ironbank
        # This `shell` line is required to get around a known issue: https://github.com/actions/runner/issues/241#issuecomment-745902718
        shell: 'script -q -e -c "bash {0}"'
        run: echo ${{ secrets.IRONBANK_REGISTRY_CLI }} | docker login registry1.dso.mil -u jmthomas --password-stdin
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to the GitHub Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: cloud
          endpoint: "openc3inc/github-builder"
          install: true
      - name: Update version to desired
        run: ruby openc3_set_versions.rb
        working-directory: scripts/release
        env:
          OPENC3_RELEASE_VERSION: ${{ github.event.inputs.version }}
      - uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: "[Github Action] Update version to ${{ github.event.inputs.version }}"
          tagging_message: "v${{ github.event.inputs.version }}"
          push_options: --force
      - name: Build Python Package
        working-directory: openc3/python
        run: python -m build
      - name: Build Yarn Packages
        run: yarn; yarn build:common
        working-directory: openc3-cosmos-init/plugins
      - name: build_multi_arch
        # This `shell` line is required to get around a known issue: https://github.com/actions/runner/issues/241#issuecomment-745902718
        shell: 'script -q -e -c "bash {0}"'
        run: ./build_multi_arch.sh
        working-directory: scripts/release
        env:
          OPENC3_DEPENDENCY_REGISTRY: docker.io
          OPENC3_ENTERPRISE_REGISTRY: ghcr.io
          OPENC3_ENTERPRISE_NAMESPACE: openc3
          OPENC3_REGISTRY: docker.io
          OPENC3_NAMESPACE: openc3inc
          OPENC3_RELEASE_VERSION: ${{ github.event.inputs.version }}
          OPENC3_UPDATE_LATEST: ${{ github.event.inputs.update_latest }}
      - name: build_multi_arch UBI
        # This `shell` line is required to get around a known issue: https://github.com/actions/runner/issues/241#issuecomment-745902718
        shell: 'script -q -e -c "bash {0}"'
        run: ./build_multi_arch.sh ubi
        working-directory: scripts/release
        env:
          OPENC3_DEPENDENCY_REGISTRY: docker.io
          OPENC3_ENTERPRISE_REGISTRY: ghcr.io
          OPENC3_ENTERPRISE_NAMESPACE: openc3
          OPENC3_REGISTRY: docker.io
          OPENC3_NAMESPACE: openc3inc
          OPENC3_RELEASE_VERSION: ${{ github.event.inputs.version }}
          OPENC3_UPDATE_LATEST: ${{ github.event.inputs.update_latest }}
      - name: extract gems
        # This `shell` line is required to get around a known issue: https://github.com/actions/runner/issues/241#issuecomment-745902718
        shell: 'script -q -e -c "bash {0}"'
        run: ./extract_gems.sh
        working-directory: scripts/release
        env:
          OPENC3_DEPENDENCY_REGISTRY: docker.io
          OPENC3_ENTERPRISE_REGISTRY: ghcr.io
          OPENC3_ENTERPRISE_NAMESPACE: openc3
          OPENC3_REGISTRY: docker.io
          OPENC3_NAMESPACE: openc3inc
          OPENC3_RELEASE_VERSION: ${{ github.event.inputs.version }}
      - name: publish gems
        run: ruby publish_gems.rb
        working-directory: scripts/release
        env:
          GEM_HOST_API_KEY: ${{ secrets.GEM_HOST_API_KEY }}
      - name: Publish python package
        uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages-dir: openc3/python/dist
      - name: publish npm js package
        if: ${{ github.event.inputs.update_latest == 'true' }}
        run: npm publish --access public
        working-directory: openc3-cosmos-init/plugins/packages/openc3-js-common
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: publish npm js package pre
        if: ${{ github.event.inputs.update_latest != 'true' }}
        run: npm publish --tag pre --access public
        working-directory: openc3-cosmos-init/plugins/packages/openc3-js-common
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: publish npm vue package
        if: ${{ github.event.inputs.update_latest == 'true' }}
        run: npm publish --access public
        working-directory: openc3-cosmos-init/plugins/packages/openc3-vue-common
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: publish npm vue package pre
        if: ${{ github.event.inputs.update_latest != 'true' }}
        run: npm publish --tag pre --access public
        working-directory: openc3-cosmos-init/plugins/packages/openc3-vue-common
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Update version to next
        run: ruby openc3_set_versions.rb
        working-directory: scripts/release
        env:
          OPENC3_RELEASE_VERSION: ${{ github.event.inputs.next_version }}
      - uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: "[Github Action] Update version to ${{ github.event.inputs.next_version }}"
          push_options: --force
