# Copyright 2026 OpenC3, Inc.
# All Rights Reserved.
#
# This program is free software; you can modify and/or redistribute it
# under the terms of the GNU Affero General Public License
# as published by the Free Software Foundation; version 3 with
# attribution addendums as found in the LICENSE.txt
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.

# This file may also be used under the terms of a commercial license
# if purchased from OpenC3, Inc.

name: Ruby Unit Tests

# Only run on a push to main to avoid running for all the dependabot PRs
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

env:
  RUBYOPT: --disable=frozen_string_literal
  RUBYGEMS_URL: https://rubygems.org

jobs:
  unit-test:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ["3.4"]
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          working-directory: openc3
      - name: Run unit tests
        run: bundle exec rake build spec
        working-directory: openc3
        env:
          OPENC3_DEVEL: ${GITHUB_WORKSPACE}/openc3
      - uses: codecov/codecov-action@v5
        with:
          directory: openc3/coverage
          flags: ruby-backend # See codecov.yml
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Run unit tests without extensions
        run: bundle exec rspec --tag no_ext
        working-directory: openc3
        env:
          OPENC3_NO_EXT: 1
          OPENC3_DEVEL: ${GITHUB_WORKSPACE}/openc3
      - uses: codecov/codecov-action@v5
        with:
          directory: openc3/coverage
          flags: ruby-backend # See codecov.yml
          token: ${{ secrets.CODECOV_TOKEN }}
      # - name: SonarQube Scan
      #   uses: SonarSource/sonarqube-scan-action@v5
      #   with:
      #     projectBaseDir: openc3
      #     args: >
      #       -Dsonar.organization=openc3
      #       -Dsonar.projectKey=OpenC3_cosmos
      #       -Dsonar.ruby.coverage.reportPaths=coverage/coverage.json
      #       -Dsonar.sources=lib
      #       -Dsonar.tests=spec
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
